CREATE TABLE [dbo].[Gen_Suppliers](
 [SupplierCode] [nvarchar](18) not NULL,
 [SupplierName] [nvarchar](70) NULL,
 [SupplierCSName] [nvarchar](50) NULL,
 [SupplierCTName] [nvarchar](50) NULL,
 [Abbreviate] [nvarchar](10) NULL,
 [BCType] [nvarchar](20) NULL,
 [BusinessType] [nvarchar](50) NULL,
 [OnetimeBC] [bit] NULL,
 [IATAMember] [bit] NULL,
 [AbacusCode] [nvarchar](8) NULL,
 [Tel1] [nvarchar](30) NULL,
 [Fax] [nvarchar](30) NULL,
 [Email] [nvarchar](40) NULL,
 [Status] [nvarchar](30) NULL,
 [CreateBy] [nvarchar](30) NULL,
 [CreateDate] [datetime] NULL,
 [ModifyBy] [nvarchar](30) NULL,
 [ModifyDate] [datetime] NULL,
 [Tel2] [nvarchar](30) NULL,
 [Tel3] [nvarchar](30) NULL,
 [Tel_Type1] [nvarchar](10) NULL,
 [Tel_Type2] [nvarchar](10) NULL,
 [CityCode] [nvarchar](3) NULL,
 [Tel_Type3] [nvarchar](10) NULL,
 [Fax_Type] [nvarchar](10) NULL,
 [ContactPerson] [nvarchar](70) NULL,
 [CountryCode] [nvarchar](10) NULL,
 [Tel1_CountryIDD] [nvarchar](10) NULL,
 [Tel2_CountryIDD] [nvarchar](10) NULL,
 [Tel3_CountryIDD] [nvarchar](10) NULL,
 [Fax_CountryIDD] [nvarchar](10) NULL,
 [Tel1_CityIDD] [nvarchar](10) NULL,
 [Tel2_CityIDD] [nvarchar](10) NULL,
 [Tel3_CityIDD] [nvarchar](10) NULL,
 [Fax_CityIDD] [nvarchar](10) NULL,
 [ID] [int] IDENTITY(1,1) NOT NULL,
 [UserName] [nvarchar](30) NULL,
 [IATANum] [nvarchar](15) NULL,
 [DebtorStatus] [nvarchar](30) NULL,
 [Auto_HotelVoucher] [bit] NULL,
 [Auto_TransferVoucher] [bit] NULL,
 [Deposit] [nvarchar](30) NULL,
 [Reminder_Date] [datetime] NULL,
 [Effective_Date] [datetime] NULL,
 [Expiry_Date] [datetime] NULL,
 [N_Block] [bit] NULL,
 [B_Export] [bit] NULL,
 [D_ExportDate] [datetime] NULL,
 [CityName] [nvarchar](50) NULL,
 [BC_EffectiveDate] [datetime] NULL,
 [BC_ExpiryDate] [datetime] NULL,
 [isBlockSeat] [bit] NULL,
 [IO_Option] [nvarchar](20) NULL,
 [ReservationWebsite] [nvarchar](500) NULL,
CONSTRAINT [PK_Gen_Suppliers] PRIMARY KEY CLUSTERED 
(
 [SupplierCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 99) ON [PRIMARY]
) ON [PRIMARY]
GO

insert into Gen_Suppliers(SupplierCode,
 SupplierName, --SupplierCSName,
 SupplierCTName,
 Abbreviate,
 BCType,
 BusinessType,
 OnetimeBC,
 IATAMember,
 AbacusCode,
 Tel1,
 Fax,
 Email,
 Status,
 CreateBy,
 CreateDate,
 ModifyBy,
 ModifyDate,
 Tel2,
 Tel3,
 Tel_Type1,
 Tel_Type2,
 CityCode,
 Tel_Type3,
 Fax_Type,
 ContactPerson,
 CountryCode,
 Tel1_CountryIDD,
 Tel2_CountryIDD,
 Tel3_CountryIDD,
 Fax_CountryIDD,
 Tel1_CityIDD,
 Tel2_CityIDD,
 Tel3_CityIDD,
 Fax_CityIDD,  --ID,自增字段
 UserName,
 IATANum,
 DebtorStatus,
 Auto_HotelVoucher,
 Auto_TransferVoucher,
 Deposit,
 Reminder_Date,
 Effective_Date,
 Expiry_Date,
 N_Block,
 B_Export,
 D_ExportDate,
 CityName,
 BC_EffectiveDate,
 BC_ExpiryDate,
 isBlockSeat,
 IO_Option,
 ReservationWebsite
)
select SupplierCode,
 EnglishName,
 ChineseName,
 Abbreviate,
 BCType,
 BusinessType,
 OnetimeBC,
 IATAMember,
 AbacusCode,
 Tel1,
 Fax,
 Email,
 Status,
 Creator,
 CreateDate,
 ModifyBy,
 ModifyDate,
 Tel2,
 Tel3,
 Tel_Type1,
 Tel_Type2,
 CityCode,
 Tel_Type3,
 Fax_Type,
 ContactPerson,
 CountryCode,
 Tel1_CountryIDD,
 Tel2_CountryIDD,
 Tel3_CountryIDD,
 Fax_CountryIDD,
 Tel1_CityIDD,
 Tel2_CityIDD,
 Tel3_CityIDD,
 Fax_CityIDD, --ID
 UserName,
 IATANum,
 DebtorStatus,
 Auto_HotelVoucher,
 Auto_TransferVoucher,
 Deposit,
 Reminder_Date,
 Effective_Date,
 Expiry_Date,
 N_Block,
 B_Export,
 D_ExportDate,
 CityName,
 BC_EffectiveDate,
 BC_ExpiryDate,
 isBlockSeat,
 IO_Option,
 ReservationWebsite
FROM UAT.dbo.BC_Info