<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="hr" connectionString="Data Source=192.168.101.8\MSSQLSERVER2008;Initial Catalog=TExpert;User ID=sa;Password=sa" />
    <add name="uat" connectionString="Data Source=192.168.101.8\MSSQLSERVER2008;Initial Catalog=UAT;User ID=sa;Password=sa" />
  </connectionStrings>
  <appSettings>
    <add key="webSiteName" value="TE2010"/>
    <add  key="webSitePath" value="E:\Dev\Hotel Reservation\Hotel Reservation\Web"/>
  </appSettings>
  <system.windows.forms jitDebugging="true" />
</configuration>